

.video-modal .body{
    padding: 0 !important;
}
/* .video-modal{
    width: 100%;
} */

.video-modal .video{
    width: 100% !important;
}

.video-modal .container{
  position: relative;
  padding: 0;
}

.video-modal .modal-content{
    background-color: transparent;
    border: none;
    border-radius: 0;
}
/* .video-modal-content{
    width: 100%;
} */

@media(min-width: 767px){
}
