.social-links{
    position: relative;
    width: 100%;
    height: 100vh;
}

.social-links .bgimg{
    width: 100%;
    height: 100vh;
    background-image: url(../../../assets/social_links_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.social-links .image-wrapper{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    background-attachment: fixed;
}

.social-links .content{
    color: #f1f1f1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-links .content h1{
    font-weight: 700;
    font-size: 3rem;
    background-image: -webkit-linear-gradient( rgba(204, 154, 79, 0.66) 50%, white 50%);
    background-repeat: repeat;
    background-position: 0 0;
    background-size: 100% 50px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  
    -webkit-animation: stripes 2s linear infinite;
    animation: stripes 2s linear infinite;
      
  }
  @-webkit-keyframes stripes {
    100% {
      background-position: 20px 50px;
    }
  }
   
  @keyframes stripes {
    100% {
      background-position: 20px -50px;
    }
  }

.social-links .wrapper{
    background-color: rgba(0,0,0,0.5);
}

.social-links .row{
    height: 100px;
}

.social-links .row a{
    color: inherit;
    text-decoration: none;
}

.social-links .content .icon{
  font-size: 40px;
}

@media(max-width: 767px){
    .social-links .content h1{
      font-size: 35px;
    }

    .social-links .content p{
      font-size: 15px;
    }
    .social-links .content .icon{
      font-size: 30px;
    }
  }