.review-modal-backdrop
{
    background-color: rgba(0,0,0,0.3);
}

.review-modal .modal-header{
    border-bottom: transparent;
    padding: 0;
}

  .review-modal{
    padding: 0 !important;
  }

  .review-modal-content{
    border-radius: 0;
  }


  .review-modal .modal-header .close{
      margin: 0;
      padding: 0;
      margin-right: 10px;
      margin-top: 5px;
      position: absolute;
      top: 0;
      right: 0;
      
  }

  .review-modal .modal-title{
      text-align: center;
      margin: auto;
      margin-top: 10px;
  }

  .review-modal .img:hover{
      cursor: pointer;
      border: 5px solid lightgray;
  }

  .review-modal .image-container{
      margin-left: 10px;
      position: relative;
  }

  .review-modal .image-wrapper{
    position: absolute;
    left: 0;
    top: 0;
    background-color: transparent;
    height: 100px;
    width: 100px;display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    border: 5px solid #cc9a4f;
  }

  .review-modal .image-wrapper:hover {
      cursor: pointer;
      border: 5px solid lightgray;
  }

  .review-modal .image-wrapper:hover .image-icon{
    cursor: pointer;
    color: lightgray;
}

  .review-modal .image-icon{
    color: #cc9a4f;
    font-size: 60px;
  }

  .review-modal .image-icon:hover{
    color: lightgray;
}

.review-modal .gallery{
  display: flex;
  flex-direction: row;
}