.about{
    position: relative;
    z-index: 100;
    width: 100%;
    overflow: hidden;
}

.about .bgimg{
    width: 100%;
    height: auto;
    background-image: url(../../../assets/about_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.about .content{
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.about .content .heading{
    font: 700 4em/1 "Oswald", sans-serif;
    text-align: center;
    letter-spacing: 0;
    padding: .25em 0 .325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255,255,255,.5);


    
  background-image: -webkit-linear-gradient( rgba(204, 154, 79, 0.66) 50%, white 50%);
  background-repeat: repeat;
  background-position: 0 0;
  background-size: 100% 50px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
 
  -webkit-animation: stripes 2s linear infinite;
  animation: stripes 2s linear infinite;

    
    
  
}

  @-webkit-keyframes stripes {
    100% {
      background-position: 20px 50px;
    }
  }
   
  @keyframes stripes {
    100% {
      background-position: 20px -50px;
    }
  }
  

  .about .content .icon{
    font-size: 48px;
  }

  .about .sub-content{
    padding:25px;
  }

  .about .sub-content h5{
    font-family: "Oswald", Helvetica, sans-serif;
    font-size: 20px;
    color: #cc9a4f;
    font-weight: 700;
    text-transform: uppercase;
  }