.header-body{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#header-video{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    object-fit: cover;
}

.header-wrapper {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .header-content{
      text-align: center;
  }

  .header-content h1{
      color: #CC9A4F;
  }