

.header{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.header #video{
    /* position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    object-fit: cover; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

.header .wrapper {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .header .content{
      position: absolute;
      bottom: 0;
      z-index: 100;
      color: #f1f1f1;
      font-family: "Trebuchet MS", Helvetica, sans-serif;
      width: 100%;
      height: 100%;
      padding: 15px;
      overflow: hidden;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  .header .center-text{

  }

  .header .center-text h1{
      color: #CC9A4F;
  }

  .page-border{
    z-index: 1030;
    position: fixed;
    display: block;
    color: #616161;
    background-color: #cc9a4f;
  }

  .state1 .page-border.top{
    top: 15px;
    left: 15px;
    right: 15px;
    height: 25px;
    font-weight: 800;
    text-transform: uppercase;
    padding-top: 2px;
    font-size: 12px;
    letter-spacing: 1px;
    transition: height 0.5s, top 0.5s, right 0.5s, left 0.5s, bottom 0.5s;
  }

  .state1 .page-border.top h5{
      font-size: initial;
      display: inline;
      color: #f1f1f1;
      line-height: 25px;
      margin: 0;
      float: right;
      margin-right: 35px;
  }

  .state1 .page-border.bottom{
    bottom: 15px;
    right: 15px;
    left: 15px;
    height: 25px;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    padding-top: 2px;
    font-size: 12px;
    letter-spacing: 1px;
    transition: top 0.5s, right 0.5s, left 0.5s, bottom 0.5s;
    font-family: "Oswald", Helvetica, sans-serif;
  }

  .state1 .page-border.left{
    left: 15px;
    top: 40px;
    bottom: 90px;
    width: 25px;
    transition: top 0.5s, right 0.5s, left 0.5s, bottom 0.5s, height 0.5s;
  }

  .state1 .page-border.right{
    right: 15px;
    top: 40px;
    bottom: 90px;
    width: 25px;
    transition: top 0.5s, right 0.5s, left 0.5s, bottom 0.5s, height 0.5s;
  }

  .state1 .page-border.border-pad{
    top: auto !important;
    bottom: 30px;
    height: 200px;
    width: 25px;
  }







  .state2 .page-border.top{
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    font-weight: 800;
    text-transform: uppercase;
    padding-top: 2px;
    font-size: 12px;
    letter-spacing: 1px;
    transition: height 0.5s, top 0.5s, right 0.5s, left 0.5s, bottom 0.5s;
  }

  .state2 .page-border.top h5{
      font-size: initial;
      display: inline;
      color: #f1f1f1;
      line-height: 40px;
      margin: 0;
      float: right;
      margin-right: 35px;
  }

  .state2 .page-border.bottom{
    bottom: 0;
    right: 0;
    left: 0;
    height: 25px;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    padding-top: 2px;
    font-size: 12px;
    letter-spacing: 1px;
    transition: top 0.5s, right 0.5s, left 0.5s, bottom 0.5s;
    font-family: "Oswald", Helvetica, sans-serif;
  }

  .state2 .page-border.left{
    left: 0;
    top: 40px;
    bottom: 75px;
    width: 25px;
    transition: top 0.5s, right 0.5s, left 0.5s, bottom 0.5s, height 0.5s;
  }

  .state2 .page-border.right{
    right: 0;
    top: 40px;
    bottom: 75px;
    width: 25px;
    transition: top 0.5s, right 0.5s, left 0.5s, bottom 0.5s, height 0.5s;
  }

  .state2 .page-border.border-pad{
    top: auto !important;
    bottom: 15px;
    height: 200px;
    width: 25px;
  }


@media(max-width: 777px){
  .state1 .page-border.top{
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    font-weight: 800;
    text-transform: uppercase;
    padding-top: 2px;
    font-size: 12px;
    letter-spacing: 1px;
    transition: height 0.5s, top 0.5s, right 0.5s, left 0.5s, bottom 0.5s;
  }

  .state1 .page-border.top h5{
      font-size: initial;
      display: inline;
      color: #f1f1f1;
      line-height: 40px;
      margin: 0;
      float: right;
      margin-right: 35px;
  }

  .state1 .page-border.bottom{
    bottom: 0;
    right: 0;
    left: 0;
    height: 25px;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    padding-top: 2px;
    font-size: 12px;
    letter-spacing: 1px;
    transition: top 0.5s, right 0.5s, left 0.5s, bottom 0.5s;
    font-family: "Oswald", Helvetica, sans-serif;
  }

  .state1 .page-border.left{
    left: 0;
    top: 40px;
    bottom: 75px;
    width: 25px;
    transition: top 0.5s, right 0.5s, left 0.5s, bottom 0.5s, height 0.5s;
  }

  .state1 .page-border.right{
    right: 0;
    top: 40px;
    bottom: 75px;
    width: 25px;
    transition: top 0.5s, right 0.5s, left 0.5s, bottom 0.5s, height 0.5s;
  }

  .state1 .page-border.border-pad{
    top: auto !important;
    bottom: 15px;
    height: 200px;
    width: 25px;
  }
}


  @media(max-width: 767px){
    .page-border.left, .page-border.right, .page-border.bottom{
      display: none;
    }
  
    .state1 .page-border.top{
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    font-weight: 800;
    text-transform: uppercase;
    padding-top: 2px;
    font-size: 12px;
    letter-spacing: 1px;
    transition: height 0.5s, top 0.5s, right 0.5s, left 0.5s, bottom 0.5s;
  }

  .state1 .page-border.top h5{
      font-size: initial;
      display: inline;
      color: #f1f1f1;
      line-height: 40px;
      margin: 0;
      float: right;
      margin-right: 35px;
  }
  }