.client{
    position: relative;
    z-index: 100;
    width: 100%;
    overflow: hidden;
}

.client .bgimg{
    width: 100%;
    height: auto;
    background-image: url(../../../assets/client/client.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.client .content{
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    width: 100%;
    margin: 0;
    color: white;
    font-size: 2.5vw;
}

.client .content .col{
    height: 33vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.client .content .cr-col{
    background-color: rgba(66, 66, 66, 0.66);

}

.client .content .st-col{
    background-color: rgba(204, 154, 79, 0.66);

}
.client .content .btb-col{
    background-color: rgba(0, 0, 0, 0.64);

}
@media(max-width: 1000px) and (orientation: landscape){
    .client .content{
        font-size: 5vh;
    }
}

@media(max-width: 767px){
    .client .content{
        font-size: 5vh;
    }
}

@media(max-width: 576px){
    .client .content{
        font-size: 4vh;
    }
}