.staff-testimonials{
    position: relative;
    width: 100%;
    height: 200vh;
}

.staff-testimonials .bgimg{
    width: 100%;
    height: 100%;
    background-image: url(../../../assets/client/staff_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.staff-testimonials .bg-image-wrapper{
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.staff-testimonials .content{
    position: relative;
    color: #f1f1f1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px 40px;
    text-align: center;
}

.staff-testimonials .content h1{
  font-weight: 700;
  font-size: 3rem;
  background-image: -webkit-linear-gradient( rgba(204, 154, 79, 0.66) 50%, white 50%);
  background-repeat: repeat;
  background-position: 0 0;
  background-size: 100% 50px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  -webkit-animation: stripes 2s linear infinite;
  animation: stripes 2s linear infinite;
    
}
@-webkit-keyframes stripes {
  100% {
    background-position: 20px 50px;
  }
}
 
@keyframes stripes {
  100% {
    background-position: 20px -50px;
  }
}

.staff-testimonials .image{
    pointer-events: none;
    width: 200px !important;
    height: 200px !important;
}

.staff-testimonials .image-container{
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 15px;
    margin-top: 50px;
}

.staff-testimonials .image-wrapper{
  position: absolute;
  left: 0;
  top: 0;
  background-color: transparent;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align: center;
  border: 8px solid #cc9a4f;
}

.staff-testimonials .image-wrapper:hover {
    cursor: pointer;
    border: 8px solid lightgray;
}

.staff-testimonials .image-wrapper:hover .image-icon{
  cursor: pointer;
  color: lightgray;
}

.staff-testimonials .image-icon{
  color: #cc9a4f;
  font-size: 80px;
}

.staff-testimonials .image-icon:hover{
  color: lightgray;
}

@media(max-width: 767px){
  .staff-testimonials .content h1{
    font-size: 35px;
  }

  .staff-testimonials .content p{
    font-size: 15px;
  }
}


@media(max-width: 576px){
  .staff-testimonials{
    height: 150vh;
}
  .staff-testimonials .image{
    width: 150px !important;
    height: 150px !important;
}

.staff-testimonials .image-container{
    width: 150px;
    height: 150px;
    margin-top: 25px;
}

.staff-testimonials .image-wrapper{
  height: 150px;
  width: 150px;
}
.staff-testimonials .image-icon{
  font-size: 60px;
}
.staff-testimonials .image-wrapper{
  border: 6px solid #cc9a4f;
}
.staff-testimonials .image-wrapper:hover {
  border: 6px solid lightgray;
}

}

@media(max-width: 576px) and (orientation: landscape){
  .staff-testimonials .testimonials-list{
    display: flex;
    /* flex-direction: column; */
  }
  .staff-testimonials .content h1{
    font-size: 25px;
  }

  .staff-testimonials .content p{
    font-size: 12px;
  }
  
  .staff-testimonials .image{
    width: 100px !important;
    height: 100px !important;
}

.staff-testimonials .image-container{
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

.staff-testimonials .image-wrapper{
  height: 100px;
  width: 100px;
}
.staff-testimonials .image-icon{
  font-size: 40px;
}
.staff-testimonials .image-wrapper{
  border: 4px solid #cc9a4f;
}
.staff-testimonials .image-wrapper:hover {
  border: 4px solid lightgray;
}
}

@media(max-width: 320px){
  .staff-testimonials .content h1{
    font-size: 25px;
  }

  .staff-testimonials .content p{
    font-size: 12px;
  }
  
  .staff-testimonials .image{
    width: 100px !important;
    height: 100px !important;
}

.staff-testimonials .image-container{
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

.staff-testimonials .image-wrapper{
  height: 100px;
  width: 100px;
}
.staff-testimonials .image-icon{
  font-size: 40px;
}
.staff-testimonials .image-wrapper{
  border: 4px solid #cc9a4f;
}
.staff-testimonials .image-wrapper:hover {
  border: 4px solid lightgray;
}
}